KBZPAY_TOKEN_URL=https://uat-miniapp.kbzpay.com/baas/auth/v1.0/oauth2/token
KBZPAY_CLIENT_ID=c6940853a4fb6fd43ea624e50f00dfe9
KBZPAY_CLIENT_SECRET=47fb5b746b0e30a6a7100194a3e79c85066ec48d63657c4e
APPCUBE_ADD_PHOTO_URL=https://uat-miniapp.kbzpay.com/service/PracticeTodo__DataImport/1.0.0/add_photo
